This notebook is for project for Programming for Data Analysis, deadline is 16th December, 2019.

As I am working for Airbnb, I am curious to see if there are any relationships between data that we have on our system. I chose the database that gathered Airbnb host's listings in Tokyo which contains many variables. The aim of this project is to investigate the datasets to discuss what I found with the data set.

I adapted the database from http://insideairbnb.com/get-the-data.html

In [1]:
import pandas as pd 
pd.read_csv("/Users/kiyok/desktop/for-13th-dec/Tokyo-listing-original.csv")

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,35303,"La Casa Gaienmae C Harajuku, Omotesando is nearby",151977,Miyuki,NaN,Shibuya Ku,35.67152,139.71203,Private room,4208,28,18,28/07/2018,0.19,3,89
1,197677,Oshiage Holiday Apartment,964081,Yoshimi & Marek,NaN,Sumida Ku,35.71721,139.82596,Entire home/apt,11006,3,159,03/08/2019,1.63,1,67
2,289597,Private apt in central Tokyo #203,341577,Hide&Kei,NaN,Nerima Ku,35.74267,139.65810,Entire home/apt,4208,30,109,03/09/2019,1.23,2,175
3,370759,"Cozy flat #203, local area YET 10 mins to shib...",1573631,"Gilles,Mayumi,Taiki",NaN,Setagaya Ku,35.66344,139.65593,Entire home/apt,7014,29,101,31/08/2019,1.50,3,195
4,700253,Private apt in central Tokyo #201,341577,Hide&Kei,NaN,Nerima Ku,35.74264,139.65832,Entire home/apt,3992,30,102,30/06/2019,1.21,2,105
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12827,38913494,Shinjuku Simple Private Double Bed Room/Free WiFi,298034580,Meagan,NaN,Shinjuku Ku,35.70385,139.69516,Entire home/apt,7553,1,0,NaN,NaN,1,175
12828,38921397,Airport access 錦糸町天空樹(押上Oshiage Skytree),214640453,Hanako,NaN,Sumida Ku,35.70132,139.81366,Entire home/apt,8524,2,0,NaN,NaN,8,177
12829,38921958,(2 rooms set) 8mins to Haneda and Shinagawa/Ka...,184428313,Daisuke,NaN,Ota Ku,35.56289,139.73343,Entire home/apt,14998,1,0,NaN,NaN,2,137
12830,38923820,【楽の家】⛲️池袋 新建 别墅 直达新宿 银座 涩谷等众观光地❣️MAX15人【派对禁止】,110230403,Cc,NaN,Toshima Ku,35.73906,139.71487,Entire home/apt,26975,2,0,NaN,NaN,20,123
12831,38924565,【楽の家】⛲️池袋 新建 别墅 直达新宿 银座 涩谷等众观光地❣️MAX15人【派对禁止】,110230403,Cc,NaN,Toshima Ku,35.73894,139.71513,Entire home/apt,26975,2,0,NaN,NaN,20,123

There are so many variables in this data set. I picked 4 variables below in this project to investigate further.

1.room_type, 2.price, 3.minimum_nights, 4.number_of_reviews, 5.calculated_host_listings_count.

1.There are 3 types of room types. +Entire house,+Hotel rooms, +Private room, +Shared room 

2.Price per night of the listing 

3.Minimum nights stay setting 

4.Total of reviews that host earned 

5.Total of listings that host published on our platform

Airbnb is a marketplace which heavily depends on user reviews. It is very important to get good reviews for our hosts to promote their booking. I picked 4 variables above to see if there any relationships between 4 variables.

Tomorrow, I will import dataset with 4 variables ad df, choose 100 samples randamly, take avarage price, number of reviews and calculated host listing count on each room types(4 types) and see what distribution is the best or not and create some plot, to see the relationship between the data.(2nd part)

Then synthesise/simulate a data set (3rd part)then give a conclusion of the project. (4th part)

In [2]:
df = pd.read_csv("/Users/kiyok/desktop/for-13th-dec/Tokyo-listing-original.csv")
# extracted 100 randam samples from dataset  
df.sample(n = 100)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
3419,24029190,A cozy private space! Mixed Dormitory with Wi-Fi,150672186,ｸﾞﾘｯｽﾞ東京浅草橋 ﾎﾃﾙ&ﾎｽﾃﾙ,NaN,Taito Ku,35.69816,139.78188,Shared room,2158,1,22,07/05/2019,1.25,7,149
12142,38004896,"103全新温馨独立房间,步行5分钟到秋叶原上野｡免费Wi-Fi｡附近大量餐厅购物出行方便",150299734,Minami,NaN,Taito Ku,35.70375,139.77435,Hotel room,6042,1,1,14/09/2019,1.00,8,101
10879,35855273,"Reasonable, Private Bunk Bed Room / Free WiFi",267065535,Frances,NaN,Shinjuku Ku,35.69965,139.69625,Entire home/apt,8740,1,2,20/08/2019,0.74,8,89
4119,25988583,TOKYO GASHUKU-JO M6,184703456,Leo,NaN,Itabashi Ku,35.75818,139.70269,Private room,5503,2,17,11/08/2019,1.12,5,77
8421,32555130,Nordic Inspired Simple Flat in Azabu/Tokyo Tower,243797363,Nori @ IntheHood,NaN,Minato Ku,35.65600,139.74381,Entire home/apt,11006,2,14,16/09/2019,3.13,13,106
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10789,35717412,"HAPPY HOUSE ——IKEBUKURO, SHINJUKU, UENO【No party】",228953694,Chaocheng,NaN,Toshima Ku,35.73957,139.71444,Entire home/apt,26975,2,4,11/08/2019,1.38,7,123
11785,37445437,01新宿御苑前 徒歩3分 FREE-WIFI01,276509624,鈴木,NaN,Shinjuku Ku,35.69122,139.71032,Entire home/apt,9495,1,1,13/09/2019,1.00,2,91
98,4312716,【中文･한글OK!】Tokyo/3min Ebisu/Near Shibuya★wifi,14351590,Manami&Mana,NaN,Shibuya Ku,35.64588,139.71260,Entire home/apt,8632,30,181,08/08/2019,3.36,1,198
9765,34373209,"2F7【Women only】 Ueno,10mins walk to Sta!!Free ...",258668827,Hiroshi,NaN,Taito Ku,35.71546,139.78142,Hotel room,3021,1,0,NaN,NaN,98,357
10517,35321305,【West Coast】6min Sta. Modern Apt☆FreePocketWIF...,207047079,Nao,NaN,Ota Ku,35.57556,139.73346,Entire home/apt,4963,2,15,20/09/2019,4.50,5,325

In [3]:
df = pd.read_csv("/Users/kiyok/desktop/for-13th-dec/Tokyo-listing-original.csv")

df.sample(100).to_csv('Toyko-listing100-samples.csv')

In [4]:
print (df.sample(100))

             id                                               name    host_id  \
8035   32020811             ShimuraSakaue 5min walk#LoftHouse#Max2  204900199
7387   31010286  102New modern  cozy room 5min to Ikebukuro近池袋全新公寓  212333651
11109  36184500      [OS2B] Asakusa/ Tokyo Sky Tree 8 min Sta., 1R  116938540
9401   33841458  6min Akabane stiation/Free wifi/max 6 guests #103  253559407
3148   23260165  2min walk Sta.! Easy access to Shibuya!!Max7pa...  100998829
...         ...                                                ...        ...
2246   20697351        [ASAKUSA]NEAR SENSOJI!/4ppl PROVATE ROOM/4B  147599206
1961   19606805  #3|3BR-55㎡ w/4beds|Ikebukuro Area|7min JR St|MAX8  137278710
10966  36017790              花や動物を愛するﾎｽﾄです｡皆さんの事も知って一緒の時間を楽しみたいです｡  270973497
6457   29804577         Shinjuku area 160sqm 3bed rooms 3bathrooms  223957485
2        289597                  Private apt in central Tokyo #203     341577

                      host_name  neighbourhood_group neighbourhood  latitude  \
8035                         程山                  NaN   Itabashi Ku  35.77500
7387                       ViVi                  NaN    Toshima Ku  35.73691
11109                    Cookie                  NaN     Sumida Ku  35.71379
9401                        Eri                  NaN       Kita Ku  35.77451
3148                        Ami                  NaN   Suginami Ku  35.68303
...                         ...                  ...           ...       ...
2246   Khaosan Tokyo Laboratory                  NaN      Taito Ku  35.71106
1961                       Yumi                  NaN    Toshima Ku  35.73080
10966                    ﾎﾃﾙむさし                  NaN      Taito Ku  35.72705
6457                    Ryosuke                  NaN   Shinjuku Ku  35.68822
2                      Hide&Kei                  NaN     Nerima Ku  35.74267

       longitude        room_type  price  minimum_nights  number_of_reviews  \
8035   139.69090  Entire home/apt   4748               1                  5
7387   139.68230  Entire home/apt   6798               2                 22
11109  139.81056  Entire home/apt  40031               2                  0
9401   139.71846  Entire home/apt  11006               1                  9
3148   139.61435  Entire home/apt   7985               2                 49
...          ...              ...    ...             ...                ...
2246   139.79159     Private room  16832               1                  0
1961   139.73162  Entire home/apt   7553               1                 61
10966  139.80194     Private room   2482               1                  5
6457   139.71716  Entire home/apt  44995               2                 43
2      139.65810  Entire home/apt   4208              30                109

      last_review  reviews_per_month  calculated_host_listings_count  \
8035   31/07/2019               0.79                               5
7387   18/08/2019               2.57                              12
11109         NaN                NaN                              14
9401   29/08/2019               1.84                              23
3148   29/08/2019               2.62                               2
...           ...                ...                             ...
2246          NaN                NaN                              16
1961   17/08/2019               2.27                               4
10966  25/09/2019               1.79                               1
6457   07/09/2019               4.20                               2
2      03/09/2019               1.23                               2

       availability_365
8035                180
7387                123
11109                32
9401                149
3148                253
...                 ...
2246                137
1961                 70
10966               166
6457                284
2                   175

[100 rows x 16 columns]

In [5]:
#### save 100 samples in csv for furthre analysis

df.sample(100).to_csv('sample100.csv')

### In this analysis section, I am going to write codes to show some plots on below

1. standard diviation of 2.Price per night of the listing,3.Minimum nights stay setting,4.Total of reviews that host earned,5.Total of listings that host published on our platform
2. means of 2,3,4,5(as above) by different type of listings 
3. find the best type of listing and best price range for the best type of listing to earn reviews 
4. analys if there are connections between findings with plots

In [8]:
pd.read_csv('sample100.csv')

,Unnamed: 0,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,4943,27478269,New apartment! Very clean room! 5-1t,48474638,陳,NaN,Chuo Ku,35.66953,139.77763,Entire home/apt,10035,1,43,21/09/2019,3.16,43,53
1,700,11707373,3BEDROOMS with GOLDEN TEAROOM @ ROPPONGI 2MIN,62230357,Mayu&Tak,NaN,Minato Ku,35.66461,139.74516,Entire home/apt,21580,3,123,23/08/2019,2.90,1,35
2,1820,18828470,"Girl's dream room w/Cats! Shibuya, Sangenjaya ...",41038761,Nami,NaN,Setagaya Ku,35.64917,139.65629,Private room,7014,3,31,18/07/2019,1.45,2,157
3,2098,20196980,Asakusa House! Very quiet place! Wi-Fi free!,43545623,Akira,NaN,Taito Ku,35.72182,139.79818,Entire home/apt,18019,2,47,27/07/2019,1.81,7,142
4,10980,36040234,Super Popular Ueno Area!3min to Sta!MK069,271144428,Ami And Jun,NaN,Taito Ku,35.71251,139.77760,Entire home/apt,29996,1,3,31/07/2019,1.02,1,101
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,58,3235958,Experience normal Japan life 1,16241464,Kaori,NaN,Itabashi Ku,35.78077,139.63209,Entire home/apt,5503,1,82,24/08/2019,1.35,2,53
96,6395,29716093,[Day of Week Discount Plan]Female Only No Smoking,98054265,Hotel Maruchu,NaN,Taito Ku,35.72832,139.80047,Hotel room,3669,1,0,NaN,NaN,19,1
97,1411,16471780,SHIBUYA Sta. 8min! WACLASS SHIBUYA 40㎡ A11 Modern,103922453,Tina,NaN,Shibuya Ku,35.65565,139.69681,Entire home/apt,11977,30,57,12/03/2019,1.70,14,137
98,5213,27886965,!Now on SALE !5min to station! Ryokan for 4ppl...,162218189,Tosaya,NaN,Shinjuku Ku,35.68908,139.68755,Hotel room,19962,1,21,16/07/2019,1.63,23,211
99,7218,30798948,B&B 100 Years Old Japanese-style House in Oumé,230416584,Toshihiro,NaN,Ome Shi,35.83243,139.26455,Private room,4963,1,10,27/09/2019,1.83,1,77

In [66]:
import numpy as np

#1.1 standard diviation on price

df = pd.read_csv("sample100.csv")
print((np.std(df.iloc[:,10])),'standard diviation of total 4 categories price per night')

dfe = pd.read_csv("entire-house.csv")
print((np.std(dfe.iloc[:,10])),'standard diviation of per night of entire house')

dfh = pd.read_csv ("hotel-rooms.csv")
print((np.std(dfh.iloc[:,10])),'standard diviation of price per night of hotel rooms')

dfp = pd.read_csv ("private-rooms.csv")

print((np.std(dfp.iloc[:,10])),'standard diviation of price per night of private rooms')

dfs = pd.read_csv ("shared-room.csv")
print((np.std(dfs.iloc[:,10])),'standard diviation of price per night of shared room')

9574.255447062189 standard diviation of total 4 categories price per night
9269.645511077631 standard diviation of per night of entire house
12451.23183303564 standard diviation of price per night of hotel rooms
8181.87645290843 standard diviation of price per night of private rooms
539.5 standard diviation of price per night of shared room

In [67]:
#1.2 standard diviation on minimum stay night setting 

df = pd.read_csv("sample100.csv")
print((np.std(df.iloc[:,11])),'standard diviation of total 4 categories minimum stay night setting')
dfe = pd.read_csv("entire-house.csv")
print((np.std(dfe.iloc[:,11])),'standard diviation of minimum stay night of entire house')
dfh = pd.read_csv ("hotel-rooms.csv")
print((np.std(dfh.iloc[:,11])),'standard diviation of minimum stay night of hotel rooms')
dfp = pd.read_csv ("private-rooms.csv")
print((np.std(dfp.iloc[:,11])),'standard diviation of minimum stay night of private rooms')
dfs = pd.read_csv ("shared-room.csv")
print((np.std(dfs.iloc[:,11])),'standard diviation of minimum stay night of shared room')

7.291090453423278 standard diviation of total 4 categories minimum stay night setting
7.883691069324266 standard diviation of minimum stay night of entire house
0.0 standard diviation of minimum stay night of hotel rooms
6.720829574763102 standard diviation of minimum stay night of private rooms
1.5 standard diviation of minimum stay night of shared room

In [68]:
#1.3 standard diviation on number of review that host earned

df = pd.read_csv("sample100.csv")
print((np.std(df.iloc[:,12])),'standard diviation of total numbers of reviews that host earned')
dfe = pd.read_csv("entire-house.csv")
print((np.std(dfe.iloc[:,12])),'standard diviation of total numbers of reviews that host earned of entire house')
dfh = pd.read_csv ("hotel-rooms.csv")
print((np.std(dfh.iloc[:,12])),'standard diviation of total numbers of reviews that host earned of hotel rooms')
dfp = pd.read_csv ("private-rooms.csv")
print((np.std(dfp.iloc[:,12])),'standard diviation of total numbers of reviews that host earned of private rooms')
dfs = pd.read_csv ("shared-room.csv")
print((np.std(dfs.iloc[:,12])),'standard diviation of total numbers of reviews that host earned of shared room')

41.40188884580027 standard diviation of total numbers of reviews that host earned
43.71546035175007 standard diviation of total numbers of reviews that host earned of entire house
7.807688518377254 standard diviation of total numbers of reviews that host earned of hotel rooms
38.36511896164505 standard diviation of total numbers of reviews that host earned of private rooms
40.0 standard diviation of total numbers of reviews that host earned of shared room

In [70]:
#1.4 standard diviation on total listings that host publised on our platform

df = pd.read_csv("sample100.csv")
print((np.std(df.iloc[:,14])),'standard diviation of total listings that host published on our platform')
dfe = pd.read_csv("entire-house.csv")
print((np.std(dfe.iloc[:,14])),'standard diviation of total listings that host published on our platform of entire house')
dfh = pd.read_csv ("hotel-rooms.csv")
print((np.std(dfh.iloc[:,14])),'standard diviation of total listings that host published on our platform of hotel rooms')
dfp = pd.read_csv ("private-rooms.csv")
print((np.std(dfp.iloc[:,14])),'standard diviation of total listings that host published on our platform of private rooms')
dfs = pd.read_csv ("shared-room.csv")
print((np.std(dfs.iloc[:,14])),'standard diviation of total listings that host published on our platform of shared room')

1.4331779911950104 standard diviation of total listings that host published on our platform
1.3969042185552976 standard diviation of total listings that host published on our platform of entire house
0.6053832578531462 standard diviation of total listings that host published on our platform of hotel rooms
1.2274769063227038 standard diviation of total listings that host published on our platform of private rooms
1.8199999999999998 standard diviation of total listings that host published on our platform of shared room

In [39]:
import numpy as np

#this is to print average of price per night.
# 2.1 this is Price per night of the all listigns and each listings
df = pd.read_csv("sample100.csv")
print((np.mean(df.iloc[:,10])),'average of total 4 categories price per night')

dfe = pd.read_csv("entire-house.csv")
print((np.mean(dfe.iloc[:,10])),'average of price per night of entire house')

dfh = pd.read_csv ("hotel-rooms.csv")
print((np.mean(dfh.iloc[:,10])),'average of price per night of hotel rooms')

dfp = pd.read_csv ("private-rooms.csv")

print((np.mean(dfp.iloc[:,10])),'average of price per night of private rooms')

dfs = pd.read_csv ("shared-room.csv")
print((np.mean(dfs.iloc[:,10])),'average of price per night of shared room')

14532.12 average of total 5 categories price per night
15942.375 average of price per night of entire house
17415.2 average of price per night of hotel rooms
9673.058823529413 average of price per night of private rooms
3560.5 average of price per night of shared room

In [41]:
#2.2 this is the avarage of Minimum nights stay setting

df = pd.read_csv("sample100.csv")
print((np.mean(df.iloc[:,11])),'average of total 4 categories minimum stay night setting')
dfe = pd.read_csv("entire-house.csv")
print((np.mean(dfe.iloc[:,11])),'average of minimum stay night of entire house')
dfh = pd.read_csv ("hotel-rooms.csv")
print((np.mean(dfh.iloc[:,11])),'average of minimum stay night of hotel rooms')
dfp = pd.read_csv ("private-rooms.csv")
print((np.mean(dfp.iloc[:,11])),'average of minimum stay night of private rooms')
dfs = pd.read_csv ("shared-room.csv")
print((np.mean(dfs.iloc[:,11])),'average of minimum stay night of shared room')

3.6 average of total 5 categories minimum stay night setting
3.986111111111111 average of minimum stay night of entire house
1.0 average of minimum stay night of hotel rooms
3.3529411764705883 average of minimum stay night of private rooms
2.5 average of minimum stay night of shared room

In [42]:
#2.3 this is the avarage of Total of reviews that host earned

df = pd.read_csv("sample100.csv")
print((np.mean(df.iloc[:,12])),'average of total numbers of reviews that host earned')
dfe = pd.read_csv("entire-house.csv")
print((np.mean(dfe.iloc[:,12])),'average of total numbers of reviews that host earned of entire house')
dfh = pd.read_csv ("hotel-rooms.csv")
print((np.mean(dfh.iloc[:,12])),'average of total numbers of reviews that host earned of hotel rooms')
dfp = pd.read_csv ("private-rooms.csv")
print((np.mean(dfp.iloc[:,12])),'average of total numbers of reviews that host earned of private rooms')
dfs = pd.read_csv ("shared-room.csv")
print((np.mean(dfs.iloc[:,12])),'average of total numbers of reviews that host earned of shared room')

30.06 average of total numbers of reviews that host earned
31.98611111111111 average of total numbers of reviews that host earned of entire house
5.8 average of total numbers of reviews that host earned of hotel rooms
30.0 average of total numbers of reviews that host earned of private rooms
43.0 average of total numbers of reviews that host earned of shared room

In [43]:
#2.4 this is the avarage of listings that host published on our platform

df = pd.read_csv("sample100.csv")
print((np.mean(df.iloc[:,14])),'average of total listings that host published on our platform')
dfe = pd.read_csv("entire-house.csv")
print((np.mean(dfe.iloc[:,14])),'average of total listings that host published on our platform of entire house')
dfh = pd.read_csv ("hotel-rooms.csv")
print((np.mean(dfh.iloc[:,14])),'average of total listings that host published on our platform of hotel rooms')
dfp = pd.read_csv ("private-rooms.csv")
print((np.mean(dfp.iloc[:,14])),'average of total listings that host published on our platform of private rooms')
dfs = pd.read_csv ("shared-room.csv")
print((np.mean(dfs.iloc[:,14])),'average of total listings that host published on our platform of shared room')

2.224252873563217 average of total listings that host published on our platform
2.511746031746031 average of total listings that host published on our platform of entire house
1.0966666666666667 average of total listings that host published on our platform of hotel rooms
1.539333333333333 average of total listings that host published on our platform of private rooms
1.8699999999999999 average of total listings that host published on our platform of shared room

In [74]:
#this plot shows price per night on 4 different types of listings
import matplotlib.pyplot as plt

df = pd.read_csv("listing-types.csv") 


# Specify price per night and total number of reviews on 4 different types of listing  (Entire house, Hotel rooms, Private room and shared room)
X = df.iloc[2:101,[10,13]].values

plt.scatter(X[2:74,10],X[2:74,13],color='purple',marker='o',label='Entire house')
plt.scatter(X[75:80,10],X[75:80,13],color='green',marker='x',label='Hotel rooms')
plt.scatter(X[81:98,10],X[81:98,13],color='black',marker='^',label='Private room')
plt.scatter(X[99:101,10],X[99:101,13],color='yellow',marker='d',label='Shared room')

plt.xlabel('Price per night')
plt.ylabel('Total number of review')
plt.legend(loc='upper left')
plt.show()

IndexError: index 10 is out of bounds for axis 1 with size 2